<div class="field">
  <label for="{{ id }}">{{ label }}</label>
  <input 
    type="number"
    name="{{ name }}"
    id="{{ id }}"
    placeholder="{{ placeholder }}"
    value="{{ value ?? '' }}"
    step="{{ step ?? '1' }}"
    min="{{ min ?? '0' }}"
    max="{{ max ?? '' }}"
  >

  @if(flashMessages.has(`errors.${name}`))
    <span class="field_validation_error">
      {{ flashMessages.get(`errors.${name}`) }}
    </span>
  @endif
</div>