<div class="field">
  <label for="{{ id }}">{{ label }}</label>
  <input 
    type="{{ type }}"
    name="{{ name }}"
    id="{{ id }}"
    placeholder="{{ placeholder }}"
    {{ value ? `value=${value}` : "" }}
  >

  @if(flashMessages.has(`errors.${name}`))
    <span class="field_validation_error">
      {{ flashMessages.get(`errors.${name}`) }}
    </span>
  @endif
</div>
