<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sol a Sol</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <main>
    <h2>Você está na home</h2>
    <a href="{{ route('sessions.index') }}">Login</a>
  </main>
</body>
</html>
