<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @entryPointStyles('app')
</head>
<body>
  <div class="error-container">
    <div class="image-error">
      <img src="../../images/server-error.svg" alt="">
    </div>
    <div class="error-message">
      <h1>500</h1>
      <h3>Erro interno no servidor!</h3>
      <p>
        Desculpe pelo transtorno!
        O sistema está em manutenção, 
        por favor, retorne para a página inicial.
      </p>
      <a class="btn" href="/">Página Inicial</a>
    </div>
  </div>
</body>
</html>