<div class="alerts">
  @if(flashMessages.get('error'))
    <div class="alert-container alert-error">
      <div class="alert-content">
        {{ flashMessages.get('error') }}
      </div>
      <button class="alert-close">&times;</button>
    </div>
  @endif

  @if(flashMessages.get('success'))
    <div class="alert-container alert-success">
      <div class="alert-content">
        {{ flashMessages.get('success') }}
      </div>
    </div>
  @endif
</div>
