<header class="page-header">
  <div class="page-title">
    <button id="show-sidebar" class="show-sidebar">
      <i class="material-icons">menu</i>
    </button>
    <h3>{{ title ?? 'Sol a Sol' }}</h3>
  </div>
  @if(pageLink)
    <a href="{{ route(pageLink) }}" class="btn primary">Novo</a>    
  @endif
</header>