@layout('layouts/master')

@set('title', 'Funcionários')

@section('content')
<div class="card">
  @each(file in product.files)
    <img width="300px" src="{{file.fileNameUrl}}" alt=""> 
  @endeach
</div>
@endsection