@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --background-color: #f9f9f9;
  --text-white: #ffff;
  --primary-color: #fca311;
  --dark-blue: #403d39;
  --gray-color: #a0a2a7;
  --light-grray: #e5e5e5;
  --error-color: #e71d36;
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
}

.material-icons.primary-color {
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
}

main.container {
  width: 100vw;
  height: 100vh;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
nav.navbar {
  width: 100%;

  background-color: var(--text-white);
  box-shadow: var(--shadow);
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header h2 {
  font-weight: 500;
  color: var(--primary-color);
}

.nav-header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: 100%;
  width: 246px;
  position: fixed;
  z-index: 1;
  left: -248px;
  top: 0;
  background: #ffff;
  border-radius: 0 20px 20px 0;
  transition: left 0.7s;
  box-shadow: var(--shadow);
}

.overlay .nav-header {
  border-bottom: 1px solid var(--light-grray);
}

#overlay-opacity {
  position: fixed;
  background: rgba(172, 121, 44, 0.07);
  backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

a.nav-link {
  color: var(--gray-color);
  font-size: 18px;
  padding: 0.5rem 1rem;
  width: 100%;
}

/* CONST */
.btn {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: var(--text-white);
  font-weight: 600;
  border: none;
  padding: 6px;

  border-radius: 6px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo img {
  width: 60%;
}

/* LOGIN */
.center-login-container {
  width: 100vw;
  height: 100vh;
}

.login-container {
  background-color: var(--primary-color);
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.login-card {
  background-color: var(--text-white);
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 0;

  border-radius: 20px 20px 0 0;
}

.login {
  display: flex;
  flex-direction: column;
}

.card-title {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 14px;
}

.field select,
.field input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--light-grray);
  color: gray;
  background: #ffff;
}

.field_validation_error {
  color: var(--error-color);
}

.field input::placeholder {
  color: var(--gray-color);
}

.login-footer {
  padding: 10px 0;
  font-size: 14px;
}

.login-footer p {
  color: var(--gray-color);
}

.login-footer a {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
}

.nav-logo img {
  width: 80px;
}

/* CARD */
.card {
  background-color: var(--text-white);

  margin: 18px;
  padding: 40px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  border: var(--light-grray);
}

/* PAGE CONTENT INSIDE CONTAINER */
.page-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-table {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: #ffff;
  width: 100%;
  box-shadow: var(--shadow);
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }

  main.container {
  }

  header.page-header {
    background: #ffff;
    border-bottom: 1px solid var(--light-grray);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    width: 100%;
  }

  /* LOGIN DESKTOP */

  .center-login-container {
    display: flex;
  }

  .login-container {
    flex-direction: row;
    position: static;

    width: 800px;
    height: 400px;
    align-self: center;
    margin: 0 auto;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 6px;
  }

  .login-card {
    position: static;
    border-radius: 0 0 0 0;
    width: 400px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 400px;
    height: 400px;
    margin-top: 0;
  }

  .card {
    width: 400px;
    margin: 0 auto;
  }

  .layout {
    flex-direction: row;
  }

  /* navbar */
  nav.navbar {
    height: 100%;
    background: #ffff;
    width: 250px;
  }

  .nav-header {
    border-bottom: 1px solid var(--light-grray);
  }

  .overlay {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    width: 246px;
  }

  .nav-header a {
    display: none;
  }

  .overlay .nav-header {
    display: none;
  }

  .nav-link {
    padding: 1rem 1.5rem;
  }

  .nav-link:hover {
    color: var(--primary-color);
    font-weight: bold;
    border-left: 3px solid var(--primary-color);
    background-color: rgba(172, 121, 44, 0.07);
  }
}
