@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #f9f9f9;
  --primary-color: #fca311;
  --light-primary-color: rgba(252, 162, 17, 0.2);
  --error-color: #df666e;
  --light-error-color: rgba(223, 102, 110, 0.2);
  --edit-link: #336699;

  --success-color: #64c589;
  --light-gray: rgba(0, 0, 0, 0.25);
  --dark-gray-text: rgba(0, 0, 0, 0.6);
  --light-text: #fff;
  --dark-blue: #403d39;
  --gray-color: #a0a2a7;
  --extra-light-gray: #e5e5e5;

  --shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
  --border-radius: 10px;
  --switch-transition: all 0.35s linear;
  --sidebar-width: 200px;
}

/* ICONS */
.material-icons.primary-color {
  color: var(--primary-color);
}

.material-icons.delete-color {
  color: var(--error-color);
}

.material-icons.edit-color {
  color: var(--edit-link);
}

.material-icons.md-16 {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

body.modal-open {
  overflow-y: hidden;
}

main.container {
  padding: 1.25rem;
}

/* LOGIN */
main.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: var(--primary-color);
}

.card,
.login-form {
  background: #ffff;
  padding: 20px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  margin: 30px;
}

.login-form h2 {
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  color: var(--gray-color);
  font-weight: 600;
  font-size: 14px;
}

.field select,
.field input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--extra-light-gray);
  color: var(--dark-blue);
  font-weight: 500;
  background: rgba(0, 0, 0, 0.04);
}

.field_validation_error {
  color: var(--error-color);
}

.field input::placeholder {
  color: var(--gray-color);
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch .switch-block input {
  display: none;
}

.switch .switch-block .switch-button {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #d3e2e5;
  display: flex;
  align-items: center;
  position: relative;

  transition: var(--switch-transition);
}

.switch .switch-block .switch-button::after {
  position: absolute;
  left: 5px;
  content: '';
  width: 26px;
  height: 12px;
  background: #8fa7b2;
  border-radius: 20px;

  transition: var(--switch-transition);
}

.switch .switch-block input:checked + .switch-button {
  border: 1px solid var(--success-color);
  background: var(--success-color);
}

.switch .switch-block input:checked + .switch-button::after {
  background: #fff;
  left: 31px;
}

.login-footer {
  padding: 10px 0;
  font-size: 14px;
}

.login-footer p {
  color: var(--gray-color);
}

.login-footer a {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
}

/* ALERTS */
.alerts {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: show-alerts 0.5s linear forwards, show-alerts-rev 0.5s linear forwards 5s;
  z-index: 10;
}

.alerts:hover {
  animation-play-state: paused;
}

.alerts .alert-container + .alert-container {
  margin-top: 1rem;
}

@keyframes show-alerts {
  0% {
    right: -200%;
  }

  100% {
    right: 0;
  }
}

@keyframes show-alerts-rev {
  0% {
    right: 0;
  }

  100% {
    right: -200%;
  }
}

.alert-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.alert-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  bottom: 0;
  animation: alert-loader 5s linear forwards;
}

.alerts:hover .alert-container::after {
  animation-play-state: paused;
}

@keyframes alert-loader {
  to {
    width: 0;
  }
}

.alerts.close {
  animation: show-alerts-rev 0.5s linear forwards;
}

.alert-close {
  background: transparent;
  border: 0;
  font-size: 30px;
  color: var(--light-text);
}

.alert-close:hover {
  opacity: 0.7;
  cursor: pointer;
}

.alert-container.alert-success {
  background: var(--success-color);
}

.alert-container.alert-error {
  background: var(--error-color);
}

/* ERROR */
.error-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-error img {
  width: 300px;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-message h1 {
  font-size: 100px;
  color: var(--primary-color);
}

.error-message h3 {
  color: var(--dark-gray-text);
}

.error-message p {
  text-align: center;
  color: var(--gray-color);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  bottom: 0;
  left: -200px;
  top: 0;
  background: var(--light-text);
  border-right: 1px solid var(--extra-light-gray);
  border-radius: 0 10px 10px 0;
  transition: left 0.5s;
  z-index: 15;
}

.sidebar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--extra-light-gray);
}

.sidebar header button {
  border: 0;
  background: transparent;
  font-size: 20px;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
}

.sidebar .links a {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--light-gray);
  font-weight: 500;
}

.sidebar .links a:hover {
  color: var(--primary-color);
}

.sidebar .links a.highlight {
  font-weight: bold;
  color: var(--primary-color);
  background: var(--light-primary-color);
  border-radius: 6px;
}

.sidebar-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
}

header.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  color: var(--primary-color);
  border-bottom: 1px solid var(--extra-light-gray);
  position: sticky;
  background: #fff;
}

.page-title {
  display: flex;
  align-items: center;
}

.page-title button {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

/* IMAGE PREVIEW */
#image-preview {
  width: 100%;
}

/* BUTTONS */
.btn {
  background: var(--primary-color);
  color: #ffff;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 6px;
  width: 100%;
  text-align: center;
}

.logout {
  padding: 1rem;
  border-top: 1px solid var(--extra-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.user-info p {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
}

.user-info p.user-role {
  font-size: 14px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.logout-btn {
  border: none;
  background: var(--light-text);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--error-color);
}

/* TABLE */
.responsive-table {
  width: 100%;
}

.responsive-table,
th,
td {
  border-collapse: collapse;
  padding: 0.5rem;
  font-size: 16px;
}

.responsive-table thead {
  color: var(--gray-color);
  border-bottom: 1px solid var(--extra-light-gray);
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.responsive-table tbody tr td:not(.action-column) {
  color: var(--dark-gray-text);
}

.action-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.action-column a + form {
  margin-left: 0.3rem;
}

.edit-link {
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.delete-btn {
  border: 0;
  background: transparent;

  display: flex;
  align-items: center;
  border-radius: 6px;
}

@media (min-width: 768px) {
  main.login-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  main.container {
    display: flex;
    justify-content: center;
    padding-left: calc(var(--sidebar-width) + 1.25rem);
  }

  .logo {
    width: 350px;
    height: 350px;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    border-radius: 10px 0 0 10px;
  }

  .logo h1 {
    color: #fff;
  }

  .login-form {
    margin: 0;
    width: 350px;
    height: 350px;
    border-radius: 0px 10px 10px 0;
  }

  .card {
    width: 600px;
  }

  /* ERROR */
  .error-container {
    flex-direction: row;
  }

  .image-error img {
    width: 500px;
  }

  .error-message {
    padding: 1rem;
  }

  .error-message h1 {
    font-size: 200px;
  }

  .error-message h3 {
    font-size: 24px;
  }

  .error-message p {
    font-size: 20px;
  }

  .error-message a {
    width: 200px;
  }

  /* SIDEBAR */
  .sidebar {
    left: 0px;
    border-radius: 0;
  }

  header.page-header {
    background: #ffff;
    border-bottom: 1px solid var(--extra-light-gray);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    padding-left: calc(var(--sidebar-width) + 1rem);

    width: 100%;
    top: 0;
    height: 70px;
  }

  .sidebar header {
    height: 70px;
  }

  .sidebar header button {
    display: none;
  }

  .page-title button {
    display: none;
  }

  /* ALERTS */
  .alerts {
    width: auto;
  }

  .alert-container {
    width: auto;
    min-width: 300px;
    max-width: 200px;
  }

  #image-preview {
    max-width: 300px;
  }

  /* table */
  .card-table {
    background: #ffff;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    width: 920px;
  }

  .responsive-table tbody tr {
    box-shadow: none;
    background: transparent;
  }
}

@media (max-width: 750px) {
  /* TABLE */
  .responsive-table,
  th,
  td {
    font-size: 14px;
  }

  .card-table {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }

  .responsive-table tbody tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #ffff;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 20px;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tbody tr + tr {
    margin-top: 1rem;
  }

  .responsive-table tbody tr td:not(.action-column) {
    display: flex;
    justify-content: space-between;
    color: var(--dark-gray-text);
  }

  .responsive-table tbody tr td::before {
    content: attr(title);
    color: var(--gray-color);
    font-weight: 500;
  }
}
