@layout('layouts/master')

@section('content')
<header class="page-header">
  <h3>Categorias</h3>
  <a href="{{ route('categories.create') }}">Novo</a>
</header>
<section class="page-content">
  <div class="card">
    <h2 class="card-title">Nova Categoria</h2>

    <form action="{{ route('categories.store') }}" method="post">
      @include('categories/fields')
      <button class="btn primary-btn">Editar</button>
    </form>
</div>
</section>

@endsection