@layout('layouts/master')

@set('title', 'Categorias')

@section('content')
<div class="card">
  <h2 class="card-title">Nova Categoria</h2>
  <form 
    action="{{ 
      route('categories.update', {id: category.id}, {
        qs: {
          _method: 'PUT'
        }
    }) 
    }}" 
    method="post"
  >
    @include('categories/fields')
    <button class="btn primary">Editar</button>
  </form>
</div>
@endsection