@layout('layouts/master')

@set('title', 'Produtos')

@section('content')
<div class="card">
  <h2 class="card-title">Novo Produto</h2>
  <form action="{{ route('products.store') }}" method="post" enctype="multipart/form-data">
    @include('products/fields')
    <button class="btn primary">Cadastrar</button>
  </form>
</div>
@endsection
