@layout('layouts/master')

@section('content')
<header class="page-header">
  <h3>Produtos</h3>
  <a href="{{ route('products.create') }}">Novo</a>
</header>
<section class="page-content">
  <div class="card">
    <h2 class="card-title">Novo Produto</h2>
    <form action="{{ route('products.store') }}" method="post" enctype="multipart/form-data">
      @include('products/fields')
      <button class="btn primary-btn">Cadastrar</button>
    </form>
  </div>
</section>
@endsection