<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#fca311">
  <title>Sol a Sol - {{ title ?? '' }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  @entryPointScripts('react-app')
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  @include('partials/alerts')
  @include('partials/sidebar')
  @include('partials/page_header')
  <main class="container">
    @!section('content')
  </main>
</body>
</html>